.container {
  width: 800px;
  height: 300px;
  border: 1px solid #ebebeb;
  position: relative;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

button,
button:focus {
  outline: none;
}
